<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload Video</h1>
    <form method="POST" enctype="multipart/form-data" action="{%url 'hls:upload'%}">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" required><br><br>

        <label for="video_file">Video File</label><br>
        <input type="file" name="video_file" id="video_file" accept="video/*" required><br><br>

        <button type="submit">Upload</button>
    </form>
</body>
</html>
